<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Connect to your device</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!(socketService?.isConnected)">
    <ion-list>

      <ion-item>
        <ion-label floating>Url address</ion-label>
        <ion-input type="text" formControlName="contactUrl"></ion-input>
      </ion-item>

    </ion-list>
    <button ion-button>Подкючиться</button>
  </form>
  <button ion-button *ngIf="socketService?.isConnected" color="danger" (click)="socketService?.disconnect()">Отключиться</button>
  <p *ngIf="socketService?.wasDisconnected">Error. Disconnected</p>

  <!--<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!(socketService?.isConnected)">-->
    <!--<input type="text" placeholder="192.168.1.1:3000" formControlName="contactUrl">-->
    <!--<button ion-button>Подкючиться</button>-->
  <!--</form>-->
  <!--<button *ngIf="socketService?.isConnected" (click)="socketService?.disconnect()">Отключиться</button>-->
  <!--<button ion-button color="primary" menuToggle>Toggle Menu</button>-->

</ion-content>

