.camera-shot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30vw;
  height: 30vw;
  z-index: 2;
}

.custom-content {
  background-color: transparent;
}

.camera-button {
  width: 20vw;
  height: 20vw;
  border: 1vw solid #fff;
  border-radius: 50%;
  background-color: #ffc616;
}
